[alias]
	st = status
	aa = add :/
	cam = commit -am
	cm = commit -m
	ap = add -p :/
[status]
	showUntrackedFiles = all
[user]
	email = jason@jasonhansel.com
	name = Jason Hansel
# below breaks trizen
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
[receive]
	denyCurrentBranch = updateInstead
