#!/bin/bash
export SSH_ASKPASS=/usr/bin/lxqt-openssh-askpass
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR}/ssh-agent.socket"
xhost +si:localuser:root
# ~/.screenlayout/three-monitors.sh
# xrandr --output VIRTUAL1 --off --output eDP1 --mode 1920x1080 --pos 0x0 --rotate normal --output DP1 --off --output HDMI2 --mode 1680x1050 --pos 1920x30 --rotate normal --output HDMI1 --off --output DP2 --off
