sublime/Package Control.cache
sublime/Package Control.cache/*
sublime/Package Control.cache/**/*
sublime/SublimeLinter/*.tmTheme
**/*.last-run
vim/.vim/.netrwhist
vim/.vim/autoload/
vim/.vim/bundle/
vim/.vim/viminfo
xdg-config/vifm/vifminfo
sublime/Package Control.*-ca-bundle
